@keyframes ldio-a0ejklc9uz {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-a0ejklc9uz div {
  left: 88px;
  top: 53px;
  position: absolute;
  animation: ldio-a0ejklc9uz linear 1s infinite;
  background: #6492ac;
  width: 24px;
  height: 6px;
  border-radius: 9.120000000000001px / 3px;
  transform-origin: 12px 47px;
}.ldio-a0ejklc9uz div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9736842105263158s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(2) {
  transform: rotate(9.473684210526315deg);
  animation-delay: -0.9473684210526315s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(3) {
  transform: rotate(18.94736842105263deg);
  animation-delay: -0.9210526315789473s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(4) {
  transform: rotate(28.42105263157895deg);
  animation-delay: -0.8947368421052632s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(5) {
  transform: rotate(37.89473684210526deg);
  animation-delay: -0.868421052631579s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(6) {
  transform: rotate(47.36842105263158deg);
  animation-delay: -0.8421052631578947s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(7) {
  transform: rotate(56.8421052631579deg);
  animation-delay: -0.8157894736842105s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(8) {
  transform: rotate(66.3157894736842deg);
  animation-delay: -0.7894736842105263s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(9) {
  transform: rotate(75.78947368421052deg);
  animation-delay: -0.7631578947368421s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(10) {
  transform: rotate(85.26315789473684deg);
  animation-delay: -0.7368421052631579s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(11) {
  transform: rotate(94.73684210526316deg);
  animation-delay: -0.7105263157894737s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(12) {
  transform: rotate(104.21052631578948deg);
  animation-delay: -0.6842105263157895s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(13) {
  transform: rotate(113.6842105263158deg);
  animation-delay: -0.6578947368421053s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(14) {
  transform: rotate(123.15789473684211deg);
  animation-delay: -0.631578947368421s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(15) {
  transform: rotate(132.6315789473684deg);
  animation-delay: -0.6052631578947368s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(16) {
  transform: rotate(142.10526315789474deg);
  animation-delay: -0.5789473684210527s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(17) {
  transform: rotate(151.57894736842104deg);
  animation-delay: -0.5526315789473685s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(18) {
  transform: rotate(161.05263157894737deg);
  animation-delay: -0.5263157894736842s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(19) {
  transform: rotate(170.52631578947367deg);
  animation-delay: -0.5s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(20) {
  transform: rotate(180deg);
  animation-delay: -0.47368421052631576s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(21) {
  transform: rotate(189.47368421052633deg);
  animation-delay: -0.4473684210526316s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(22) {
  transform: rotate(198.94736842105263deg);
  animation-delay: -0.42105263157894735s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(23) {
  transform: rotate(208.42105263157896deg);
  animation-delay: -0.39473684210526316s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(24) {
  transform: rotate(217.89473684210526deg);
  animation-delay: -0.3684210526315789s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(25) {
  transform: rotate(227.3684210526316deg);
  animation-delay: -0.34210526315789475s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(26) {
  transform: rotate(236.8421052631579deg);
  animation-delay: -0.3157894736842105s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(27) {
  transform: rotate(246.31578947368422deg);
  animation-delay: -0.2894736842105263s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(28) {
  transform: rotate(255.78947368421052deg);
  animation-delay: -0.2631578947368421s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(29) {
  transform: rotate(265.2631578947368deg);
  animation-delay: -0.23684210526315788s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(30) {
  transform: rotate(274.7368421052632deg);
  animation-delay: -0.21052631578947367s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(31) {
  transform: rotate(284.2105263157895deg);
  animation-delay: -0.18421052631578946s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(32) {
  transform: rotate(293.6842105263158deg);
  animation-delay: -0.15789473684210525s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(33) {
  transform: rotate(303.1578947368421deg);
  animation-delay: -0.13157894736842105s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(34) {
  transform: rotate(312.63157894736844deg);
  animation-delay: -0.10526315789473684s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(35) {
  transform: rotate(322.10526315789474deg);
  animation-delay: -0.07894736842105263s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(36) {
  transform: rotate(331.57894736842104deg);
  animation-delay: -0.05263157894736842s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(37) {
  transform: rotate(341.05263157894734deg);
  animation-delay: -0.02631578947368421s;
  background: #6492ac;
}.ldio-a0ejklc9uz div:nth-child(38) {
  transform: rotate(350.5263157894737deg);
  animation-delay: 0s;
  background: #6492ac;
}
.loadingio-spinner-spinner-owst1w0ljz {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.010141129032258056);
}
.ldio-a0ejklc9uz {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-a0ejklc9uz div { box-sizing: content-box; }